.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-width: 100%;
  max-width: 100%;
  width: 100%;

  min-height: 34px;
  max-height: 34px;
  height: 34px;
}

.title-bar .spacer {
  flex: 1;
  height: 100%;

  -webkit-app-region: drag;
}

.title-bar .title-right {
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-bar .title-right .window-cmini-maxi {
  display: flex;
  align-items: center;
  height: inherit;
}

.title-bar .title-right .window-cmini-maxi .action-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: inherit;
  width: 44px;
}

.title-bar .title-right .win-restore-maximize {
  display: flex;
  align-items: center;
  position: relative;
  height: inherit;
}

.title-bar svg {
  width: 16px;
  height: 16px;

  stroke-width: 2px;
  stroke: var(--white_mode);
}

.title-bar :is(.win-maximize svg, .win-restore svg) {
  width: 12px;
  height: 12px;

  stroke-width: 3px;
}

.title-bar .title-right .win-close:is(:hover) {
  background-color: #e81123;
}

.title-bar .title-right .win-close:is(:active) {
  background-color: #e8112385;
}

.title-bar .title-right .window-cmini-maxi .win-restore {
  position: relative;
}

.title-bar .title-right .window-cmini-maxi .win-maximize {
  position: absolute;
}

.title-bar
  .title-right
  :is(.win-restore:hover, .win-minimize:hover, .win-maximize:hover) {
  background-color: #8686865d;
}

.title-bar
  .title-right
  :is(.win-restore:active, .win-minimize:active, .win-maximize:active) {
  background-color: #86868691;
}

@media (prefers-color-scheme: dark) {
  .title-bar {
    background: var(--webkit_dark_bg);
    background: var(--dark_bg);
  }
}

@media (prefers-color-scheme: light) {
  .title-bar {
    background: var(--webkit_white_bg);
    background: var(--white_bg);
  }

  .title-bar
    .title-right
    :is(.win-restore:hover, .win-minimize:hover, .win-maximize:hover) {
    background-color: #8686865d;
  }

  .title-bar
    .title-right
    :is(.win-restore:active, .win-minimize:active, .win-maximize:active) {
    background-color: #86868691;
  }
}
