:root {
  --dark_mode: #23272e;
  --white_mode: #ddd;

  --dark_bg: linear-gradient(to right, #000000, #11111e, #060606);
  --white_bg: linear-gradient(to right, #750075, #c100c1);

  --dark_container_bg: #262529;
  --white_container_bg: #fff;
}
