body {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("./dark_bg.svg");
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-image: url("./white_bg.svg");
  }
}
